# Dataset files
*.csv

# Trained ML/DL models
*.h5
*.keras
*.pkl
*.joblib

# Saved TensorFlow models
saved_model/
models/
checkpoints/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Logs
*.log